{% extends "base.html" %}

{% block title %}Login - HighCommand{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <div class="auth-header">LOGIN</div>

        <form method="POST">
            <div class="form-group">
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary" style="width: 100%;">LOGIN</button>
        </form>

        <div class="auth-footer">
            DON'T HAVE AN ACCOUNT? <a href="{{ url_for('register') }}">REGISTER</a>
        </div>
    </div>
</div>
{% endblock %}